:root {
    --sponsor-color: #f26422;
    --location-color: #3b75a3;
    --event-page-font-family: Verdana;
}

.content-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#event-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    max-width: 1280px;
}

.event-page-context {
    margin-bottom: 10px;
    padding-left: 10px;
    max-width: 990px;
}

.event-image {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    aspect-ratio: 1;
}

.event-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: start;
}

.event-page-title {
    color: #222222;
    font-family: var(--event-page-font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-left: 10px;
}

.star-icon {
    color: var(--sponsor-color);
}

.sponsor-text {
    color: var(--sponsor-color);
    font-size: small;
    margin-left: 5px;
    display: block;
}

.flag-icon {
    color: var(--location-color);
}

.image-enlarge-icon {
    color: #d9d9d9;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    opacity: 0;
}

.event-image-container:hover .image-enlarge-icon {
    opacity: 1;
}

.event-image-container:hover .event-image {
    opacity: 0.7;
}

.location-text {
    color: var(--location-color);
    font-size: small;
    margin-left: 5px;
}

event-card {
    display: grid;
    grid-template-areas:
        "image image"
        "date learn"
        "title title"
        "location location"
        "sponsor sponsor";
    grid-column-gap: 8px;
    background-color: #ffffff;
    border: 1px solid #ECF1F5;
    padding: 13px;
    max-width: 300px;
    grid-template-rows: 200px 30px 58px 1.5em 1.5em;
    grid-row-gap: 2px;
    padding-bottom: 40px;
}

event-card>div {
    grid-area: var(--area);
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-sponsor-area {
    display: flex;
    align-items: center;
    height: 30px;
}

.event-content-title {
    max-width: 250px;
    color: #222222;
    font-family: var(--event-page-font-family);
    font-size: medium;
    justify-content: start;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.svg-size {
    display: none;
    width: 100%;
    height: auto;
    scale: .9;
    transform: translateY(-5%);
}

@media screen and (max-width: 900px) {
    #event-container-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #event-container-grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 70%;
    }
}

@media screen and (max-width: 480px) {
    #event-container-grid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 90%;
    }
}